---
import Button from './Button.astro';

interface ICandidate {
  name_female: string;
  name_male: string;
  image_female: string;
  image_male: string;
}

interface Props {
  candidate: ICandidate;
  index: number;
  totalVotes: number;
  numberVotes: number;
}

const { candidate, index, totalVotes, numberVotes } = Astro.props;

/**
 * @props
 * candidate: ứng viên
 * index: vị trí ứng viên
 * totalVotes: tổng số bầu chọn
 * numberVotes: số bầu chọn
 */
---
<div>
  <Button text="Bình chọn" icon={{ src:"/icons/arrow.svg", width: 16, height: 16, class:"ml-[10px]" }} wrapperClass="text-white text-xs flex px-4 py-2 rounded-[20px] bg-purple-light uppercase"/>
</div>