---
import Image from "astro/components/Image.astro";


---
<div>
    <Image src="/images/hero.jpg" width={1440} height={600} alt="Banner bước nhảy hoàng vũ" class="w-full aspect-[12/5]"/>
</div>

<style>

</style>